
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,800,800italic,600italic,600,400italic,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,300,700);
@import '../font/css/font-awesome.css';

html, body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	color: #fff;
	background: #19212b
}

/* .background {
	background: #19212b url( ../img/14051773735_baa1e801f8_k.jpg ) no-repeat;
	background-size : cover;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}*/

h2 {
	font: bold 1.1rem/1 'Open Sans', sans-serif;
}

a {
	color: inherit;
}

p {
	margin:0 0 1rem 0;
}

.hidden
{
	display: none !important;
}

#issueQuery {
	padding: 3rem 4rem;
	position: relative;
	z-index: 1;
}

#issueQuery input[type=text] {
	height: 2.1rem;
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	padding-left: 1rem;
	background: none;
	border: 0;
	border-left: 1px solid #fff;
	color: #fff;
}

.dropdown {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 1.6rem;
	cursor: pointer;
}

.control {
	display: inline;
}

.list_dropdown {
	list-style: none;
	display: none;
	position: absolute;
	width: 87%;
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	padding: 1rem;
	background: rgba(6, 6, 6, .8);
	font: 0.8rem/1 'Open Sans', sans-serif;
	z-index: 999;
}

.list_dropdown li {
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 2px;
}

.list_dropdown li:hover {
	background: #333;
}

#fixversions {
	display: none;
	margin-left: 2rem;
}

#fixversions_list {
	width: 50%;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
}

#fixversions_list li {
	display: none;
}

#fixversions_list li:nth-last-child(-n+9) {
	display: block;
}

#issuesList {
	padding: 0 1rem;
}

.issue {
	color: #777;
	opacity: 0;
	background: transparent;
	position: relative;
}

.issue.show {
	opacity: 1;
	-moz-transition: opacity .5s ease-out;
	-webkit-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
}

	.column {
		margin-right: 1rem;
		flex-basis: 15%;
	}

	.column-main {
		flex-basis: 40%;
	}

		.data-tile {
			text-align: center;
			padding: 2rem;
			margin: 0 0 1rem 0;
			background: #fd6162;
			color: #fff;
			box-sizing: border-box;
		}

			.data-tile .fa:before {
				font-size: 2rem;
				color: #c84e4f;
			}

			.data-tile .title {
				font: 400 1.2rem/1 'Josefin Slab', serif;
			}

			.issue-details {
				display: flex;
				align-items: flex-start;
			}

			.data-tile ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

/* Data groups */

		/* Assignee */
		.assignee {
			background: transparent;
		}

			.assignee-avatar {
				display: block;
				border: 3px solid #fff;
				border-radius: 48px;
				margin: 0 auto 1rem auto;
			}

		/* Issue Body */
		.issue-body {
			color: #333;
			background: #4caaa6;
			overflow: hidden;
		}

			.issue-title {
				font-weight: 100;
				font-size: 1.6rem;
				padding: 2rem;
				margin: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				background: transparent;
				color: #fff;
			}

				.title-text {
					line-height: 2rem;
					padding-top: .8rem;
					vertical-align: middle;
					display: block;
				}

			.issue-type-row {
				text-align: center;
				color: #666;
				border-bottom: 45px solid #fff;
				margin: -2rem 0 -1.4rem 0;
				-webkit-transform : rotate(5deg);
				transform : rotate(5deg);
				width: 101%;
			}

				.issue-type {
					position: relative;
					bottom: -2rem;
					border-radius: 60px;
					border: 0px solid #aaa;
					z-index: 2;
					background: #fff;
					width: 60px;
					height: 60px;
					line-height: 60px;
					-webkit-transform : rotate(-5deg);
					transform : rotate(-5deg);
				}

					.issue-type:before {
						content:'\f013';
						font-size: 2.5rem;
					}

					.userstory:before {
						content:'\f0eb';
					}

					.bug:before {
						content:'\f188';
					}

			.description {
				max-height: 200px;
				overflow: hidden;
				text-overflow: ellipsis;
				background: #fff;
				padding: 2rem;
				position: relative;
			}

				.read-more {
					text-align: right;
					display: block;
					padding: 12px 0;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100px;
					line-height: 160px;
					text-decoration: none;

					background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
					background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
					background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
					background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
					background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
					background-image: linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
					background-repeat: repeat-x;
				}

					.read-more span {
						background: #4caaa6;
						padding: .5rem 1rem;
						color: #fff;
						text-transform: lowercase;
						font-size: .8rem;
					}


		/* Components */
		.components {
			background: #169f85;
		}

			 .components .fa:before {
				color: #136e5a;
			}

			.component .fa:before {
				font-size: 0.8rem;
				margin-right: 0.5em;
			}

		/* Subtasks*/
		.subtasks {
			background: #2a7fb8;
		}
			.subtasks .fa:before {
				color: #1c5074;
			}

			.counter {
				display: block;
				font-size: 4rem;
				font-weight: 700;
				line-height: 1.5em;
			}

		/* Points */
		.points {

		}

		/* Labels */
		.labels {
			color: #fff;
			margin: 0;
			padding: 1rem 0;
		}

			.label {
				list-style: none;
				display: inline-block;
				margin-right: 2rem;
			}

				.label .fa {
					margin-right: .5rem;
				}

		/* Links */
		.links {
			position: absolute;
			background: transparent;
		}

			.links li {
				margin-bottom: 1rem;
			}

			.links .fa {
				background: #fd6162;
				border-radius: 99rem;
				padding: .5rem;
				width: 1rem;
				height: 1rem;
				margin-right: 1rem;
			}

				.links .fa:before {
					color: #fff;
					font-size: .8rem;
				}

#arrow-left, #arrow-right {
	position: absolute;
	background: rgba(2, 2, 2, .4);
	padding: 1.1rem 1.3rem;
	cursor: pointer;
	display: none;
	top: 3rem;
}

#arrow-left {
	right: 120px;
}

#arrow-right {
	right: 50px;
}

#spinner {
	font-size: 10rem;
	color: #212c36;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}
	.fa-spin {
		align-self: center;
	}
