<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Demo Generator</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="shortcut icon" href="http://www.softonic.com/favicon.ico" type="image/x-icon">
	<script data-main="js/main" src="js/libs/require.js"></script>

	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script type="text/template" id="projectsListTpl">
		<% _( projects ).each(function(project) { %>
			<li id="<%= project.id %>"><%= project.name %></li>
		<% }) %>
	</script>

	<script type="text/template" id="sprintsListTpl">
		<% _( sprints ).each(function(sprint) { %>
			<li id="<%= sprint.id %>"><%= sprint.name %></li>
		<% }) %>
	</script>

	<script type="text/template" id="issueTpl">
		<article id="issue_<%= id %>" class="issue hidden">
			<section class="issue-details hidden"></section>
		</article>
	</script>

	<script type="text/template" id="issueDetailsTpl">

		<div class="column">
			<% if ( assignee ) { %>
			<div class="data-tile assignee">
				<img class="assignee-avatar" src="<%= assignee.avatarUrls['48x48'] %>" alt="<%= assignee.displayName %>" />
				<span class="assignee-name title"><%= assignee.displayName %></span>
			</div>
			<% } %>
		</div>
		<div class="issue-body column">
			<h2 class="issue-title">
				<span class="fa issue-type <%= issuetype.name.replace(' ', '').toLowerCase() %>" title="<%= issuetype.name %>"></span>
				<span class="title-text"><%= summary %></span>
			</h2>

			<div class="description"><%= description %><a href="https://jira.redtonic/browse/<%= issueKey %>" class="read-more"><span>Read more</span></a></div>
		</div>
		<div class="column">
			<% if ( customfield_10092 ) { %>
			<div class="data-tile points">
				<span class="fa fa-dot-circle-o"></span>
				<br /><%= customfield_10092 %>
			</div>
			<% } %>
			<% if ( components.length ) { %>
			<div class="data-tile components">
				<span class="fa fa-cogs"></span>
				<ul>
				<% _.each( components, function ( component ){ %>
					<li class="component title"><span class="fa fa-cog"></span><%= component.name %></li>
				<% } ) %>
				</ul>
			</div>
			<% } %>
		</div>
		<% if ( subtasks.length ) { %>
		<div class="data-tile subtasks">
			<span class="fa fa-sitemap"></span><span class="counter"><%= subtasks.length %></span>
			<span class="title">Subtasks</span>
		</div>
		<% } %>

	</script>

</head>

<body>
	<h1 id="pageTitle"></h1>

	<section id="issueQuery">
		<div id="projects" class="control">
			<span class="dropdown"><span>&darr;</span></span>
			<input type="text" value="Choose a project" id="selectedProject" size="40" disabled="disabled" />
			<ul id="projects_list" class="list_dropdown"></ul>
		</div>

		<div id="fixversions" class="control">
			<span class="dropdown"><span>&darr;</span></span>
			<input type="text" value="Fix Version" id="selectedFix" size="40" disabled="disabled" />
			<ul id="fixversions_list" class="list_dropdown"></ul>
		</div>

		<div id="arrow-left" class="arrows"><span class="fa fa-chevron-left"></span></div>
		<div id="arrow-right" class="arrows"><span class="fa fa-chevron-right"></span></div>
	</section>

	<section id="issuesDisplay">
		<div class="inner section" id="issuesList"></div>
	</section>
</body>
</html>